html {
    position: relative;
    min-height: 100%;
}
#container {
    color: darkgrey;
    font-family: 'Lobster', cursive;
    
}

header, footer{
    background: url('../Images/paw_print_banner.jpg');
    height: 175px;
    margin-top: 30px;
    margin-bottom: 0px;	
    position: relative;
}

#startBtn {
    height: 100px;
    width: 500px;
    margin-top: 80px;
    background-color: darkgray;
    color: rgb(5, 5, 5);
    font-size: 30px;
    font-style: italic;
    padding: 20px;
    }

    #jpg {
        padding-top: 25px;
    }

    .answerList{
        line-height: 200%;
    }